.ulProdctus {
  width: 91%;
  left: -0.5rem;
  padding: 0;
}

.ulProdctus::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.ulProdctus::-webkit-scrollbar-track {
  background: #828282;
}

.ulProdctus::-webkit-scrollbar-thumb {
  background-color: #27ae60;
}
